
/* ----[ LINKS ]----*/

/* all menu links */
#s5_nav a, #subMenusContainer a{
	text-decoration:none;
}

/* Just main menu links --[for non-javascript users this applies to submenu links as well]*/
#s5_nav a{
	margin:0;	
}

#subMenusContainer ul li {
	padding:0px;
	margin:0px;
}

/* Just sub menu links */
#subMenusContainer a, #s5_nav li li a{
	text-align:left;
	font-size:1.1em;
	display:block;
	width:auto;
	color:#ffffff;
}


/* ----[ OLs ULs, LIs, and DIVs ]----*/


/* All ULs and OLs */
#nav, #s5_nav ul, #s5_nav ol, #subMenusContainer ul, #subMenusContainer ol { 
	padding: 0;
	margin: 0;
	list-style: none;
	line-height: 1em;
}

/* All submenu OLs and ULs */
#s5_nav ol, #s5_nav ul, #subMenusContainer ul, #subMenusContainer ol {	
	left:0;
}

#subMenusContainer img {
margin-right:8px;
}

#s5_nav img {
margin-right:6px;
margin-top:2px;
}

/* Submenu Outer Wrapper - each submenu is inside a div with this class - javascript users only */
.s5_sub_wrap, .s5_sub_wrap_lower, .s5_sub_wrap_rtl, .s5_sub_wrap_lower_rtl { 
	display:none; 
	position: absolute; 
	overflow:hidden; 
	margin-top: -6px;
	padding: 6px;}

.mainParentBtn a {
	background:url(../images/s5_menu_arrow.png) no-repeat right center;
	padding-right:24px;
}

.subParentBtn .S5_submenu_item a {
	background:url(../images/s5_menu_arrow_subs.png) no-repeat right center;
	display:block;
}

#subMenusContainer div.s5_sub_wrap ul, #subMenusContainer div.s5_sub_wrap_rtl ul {
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 20 0 4px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.3); 
	border-top:none;
	background:#414141;
	padding-bottom:3px;
}

#subMenusContainer div.s5_sub_wrap_lower ul, #subMenusContainer div.s5_sub_wrap_lower_rtl ul {
	-moz-border-radius:8px 8px 8px 8px;
	-webkit-border-radius:8px 8px 8px 8px;
	border-radius:8px 8px 8px 8px;
	-webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3); 
	background:#414141;
}

#subMenusContainer div.s5_sub_wrap ul ul, #subMenusContainer div.s5_sub_wrap_lower ul ul, #subMenusContainer div.s5_sub_wrap_rtl ul ul, #subMenusContainer div.s5_sub_wrap_lower_rtl ul ul {
	padding:0px;
	margin:0px;
	-moz-border-radius:none;
	-webkit-border-radius:none;
	border-radius:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	background:none;
	border:none;
	padding-bottom:10px;
	padding-top:8px;
}

#subMenusContainer li.subParentBtn, #subMenusContainer li.subMenuBtn {
	padding:8px;
	clear:both;
	padding-top:0px;
	padding-bottom:0px;
	min-width:200px;
}


/* List items in main menu --[for non-javascript users this applies to submenus as well]  */
#s5_nav li { 
	/*great place to use a background image as a divider*/
	display:block;
	list-style:none;
	position:relative;
	float:left;
	height:45px;
	padding-right:0px;
	padding-top:15px;
	padding-bottom: 5px;
	overflow:hidden;}

#s5_nav li a {
	-webkit-transition: all 0.3s linear 0s;
	-moz-transition: all 0.3s linear 0s;
	-o-transition: all 0.3s linear 0s;
	transition: all 0.3s linear 0s;
	color:#3c3c3c;
	font-size:1.1em; }
	
#s5_nav li:hover a {
	-webkit-transition:  all 200ms ease-in 0s;
	-moz-transition:  all 200ms ease-in 0s;
	-o-transition: all 200ms ease-in 0s;
	transition:  all 200ms ease-in 0s;	}	
	
#s5_nav li .s5_level1_span2 a {
	font-weight:normal;
	padding-left:14px;
	padding-right:14px;}

#s5_nav li.mainParentBtn .s5_level1_span2 {
	padding-right:4px;}

#s5_nav li.mainParentBtn .s5_level1_span2 a {
	padding-right:18px;}

.S5_parent_subtext {
	display:block;
	clear:both;
	color:#737373;
	font-size:0.8em;
	margin-left: 15px;
	cursor:pointer;
}

#s5_nav li .s5_level1_span1 {
	background:none;
	height:32px;
	display:block;
	}

#s5_nav li .s5_level1_span2 {
	background:none;
	height:32px;
	display:block;
	padding-top:6px;	}

#s5_nav li.active .s5_level1_span1, #s5_nav li.mainMenuParentBtnFocused .s5_level1_span1, #s5_nav li:hover .s5_level1_span1 {
	height:32px;
	display:block;}

#s5_nav li.active .s5_level1_span2, #s5_nav li.mainMenuParentBtnFocused .s5_level1_span2, #s5_nav li:hover .s5_level1_span2  {
	height:32px;
	display:block;
	padding-top:6px;}

#subMenusContainer .moduletable {
	padding:8px;}

#subMenusContainer .moduletable h3 {
	margin-bottom:8px;}

.S5_submenu_item {
	padding: 12px 12px 9px;
	display:block;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}

.S5_submenu_item:hover {
	background:#232323;
}

.S5_grouped_child_item .S5_submenu_item {
	padding:4px;
	border:none;
	-moz-border-radius:none;
	-webkit-border-radius:none;
	border-radius:none;
}

#subMenusContainer li{
	list-style: none;
}


#subMenusContainer{	display:block; 	position:absolute;	top:0;	left:0;	width:100%;	height:0;	overflow:visible;	z-index:1000000000; }


/* --------------------------[ The below is just for non-javscript users ]--------------------------*/
#s5_nav li li{	float:none; }

#s5_nav li li a{ /* Just submenu links*/	
	position:relative;
	float:none;
}

#s5_nav li ul { /* second-level lists */
	position: absolute;
	width: 10em;
	margin-left: -1000em; /* using left instead of display to hide menus because display: none isn't read by screen readers */
	margin-top:2.2em;
}

/* third-and-above-level lists */
#s5_nav li ul ul { margin: -1em 0 0 -1000em; }
#s5_nav li:hover ul ul {	margin-left: -1000em; }

 /* lists nested under hovered list items */
#s5_nav li:hover ul{	margin-left: 0; }
#s5_nav li li:hover ul {	margin-left: 10em; margin-top:-2.5em;}

/* extra positioning rules for limited noscript keyboard accessibility */
#s5_nav li a:focus + ul {  margin-left: 0; margin-top:2.2em; }
#s5_nav li li a:focus + ul { left:0; margin-left: 1010em; margin-top:-2.2em;}
#s5_nav li li a:focus {left:0;  margin-left:1000em; width:10em;  margin-top:0;}
#s5_nav li li li a:focus {left:0; margin-left: 2010em; width: 10em;  margin-top:-1em;}
#s5_nav li:hover a:focus{ margin-left: 0; }
#s5_nav li li:hover a:focus + ul { margin-left: 10em; }


span.menu_subtext {
	display:block;
	font-weight:normal;
	line-height:10px;
}

.S5_subtext {
font-size:0.8em;
padding-top:2px;
cursor:pointer;
color:#f6f6f6;
}

.S5_menu_module_group .moduletable {
color:#f6f6f6;}

.S5_grouped_child_item .S5_subtext {
padding-left:20px;
font-size:0.9em;
}

span.menu_title{
	line-height:12px;
	text-align:center;
}


div.has_description{
	height:auto;
}

div.S5_grouped_child_item span{
	font-size:0.9em;
}

div.S5_grouped_child_item {
	padding-top:4px;
	padding-bottom:4px;
	
}

div.S5_grouped_child_item span span.S5_submenu_item a{
	padding:0px;
	padding-left:12px;
	color:#333333;
}


#s5_nav li.mainMenuParentBtnFocused {
    background: url("../images/s5_toparrow.png") no-repeat scroll left bottom transparent;
    padding-bottom: 9px;
}


.s5_sub_wrap_lower, .s5_sub_wrap_lower_rtl {
	margin-top:-14px;}
 